@page "/"
@using System.IO;
@using System.Diagnostics;
@using Zippy.Site.Extensions;
@using Zippy.ZipAnalysis;
@using Zippy.ZipAnalysis.IO;
@using Zippy.ZipAnalysis.Extensions;
@using Zippy.ZipAnalysis.ZipFormat;
@using Microsoft.AspNetCore.Components.Forms;

<div class="text-center pb-5">
    <h1 class="display-4">Welcome to Zippy</h1>
    <span>Note: Zippy works completely in the browser. No data leaves the browser. </span>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <InputFile OnChange="@LoadFiles" id="fileSelector" class="@((string.IsNullOrEmpty(errorMessage)? "form-control" : "form-control is-invalid"))" aria-describedby="fileSelectorFeedback" />
            <div id="fileSelectorFeedback" class="invalid-feedback">
                @errorMessage
            </div>
        </div>
    </div>
    @if (headers != null && headers.Any())
    {
        <div class="row pt-5 justify-content-md-center">
            <div class="col">
                <ZipFileComponent FileName="@fileName" Headers="headers" />
            </div>
        </div>
        <span>File processed in @duration</span>

        <div>
            <DownloadFileComponent Headers="headers" UploadedFile="uploadedFile" />
        </div>

    }
</div>


@code
{
    private string? fileName;
    private string? errorMessage;
    private TimeSpan? duration;
    private IEnumerable<ZipAnalysis.ZipFormat.ZipHeaderBase>? headers;
    private IBrowserFile? uploadedFile;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        uploadedFile = e.File;
        fileName = e.File.Name;

        if (e.File.Size > ZipInspector.MaxSupportedSize)
        {
            errorMessage = $"File is too big. Only files up to {ZipInspector.MaxSupportedSize.ToReadableFileSize()} are supported.";
            headers = null;
            duration = null;
        }
        else
        {
            var sw = Stopwatch.StartNew();
            var fileStream = e.File.OpenReadStream(ZipInspector.MaxSupportedSize);
            var bufferStream = new BufferedStream(new FakeSeekableStream(fileStream), 512 * 1024); // Need fake seekable stream as BufferedStream mistakenly needs underlying stream to be seekable to get Position. (https://source.dot.net/#System.Private.CoreLib/src/libraries/System.Private.CoreLib/src/System/IO/BufferedStream.cs,197)

            headers = await new ZipInspector(bufferStream).GetZipHeadersAsync().ToListAsync();
            errorMessage = !headers.Any() ? "Please select a valid ZIP-file" : null;
            duration = sw.Elapsed;
        }
    }


}
