@page "/"
@using Zippy.ZipAnalysis;
@using Microsoft.AspNetCore.Components.Forms;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TODO</p>
</div>

<div class="container">
    <div class="row">
        <div class="col"><InputFile OnChange="@LoadFiles" /></div>
    </div>
    <div class="row">
        <div class="col-5">
            <p>
                <span>@fileName</span>
                <span>@isZipResult</span>
            </p>
        </div>
    </div>
</div>

@code {
    private string? @fileName;
    private string? @isZipResult;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        // TODO: Add check for file size

        fileName = e.File.Name;
        var zipInspector = new ZipInspector();
        if (await zipInspector.HasZipSignatureAsync(e.File.OpenReadStream()))
        {
            isZipResult = " is a ZIP-archive";
        }
        else
        {
            isZipResult = " is not a ZIP-archive";
        }
    }
}
