@using Zippy.ZipAnalysis.ZipFormat;

@if (Headers != null)
{
    <h3>@FileName</h3>

    <div class="accordion">
        @foreach (var header in Headers)
        {
            switch (header)
            {
                case LocalFileHeader lf:
                    <LocalFileHeaderComponent LocalFileHeader="lf" />
                    break;
                case CentralDirectoryHeader cd:
                    <CentralDirectoryHeaderComponent CentralDirectoryHeader="cd" />
                    break;
                case EndOfCentralDirectoryHeader eocd:
                    <EndOfCentralDirectoryHeaderComponent EndOfCentralDirectoryHeader="eocd" />
                    break;
            }
        }
    </div>
}

@code {

    [Parameter]
    public string? FileName { get; set; }

    [Parameter]
    public IEnumerable<ZipHeaderBase>? Headers { get; set; }
}
