@if (EditMode)
{
    <input type="text" @bind="Value" class="w-100 form-control form-control-sm" />
}
else
{
    <span>@Value</span>
}


@code {
    private string _htmlId = $"input-{Guid.NewGuid()}";

    [CascadingParameter]
    protected bool EditMode { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

}
